{#
/**
 * @file
 * input--search.html.twig
 *
 * Markup for Bootstrap search forms.
 *
 * @ingroup templates
 */
#}
<input{{ attributes }} placeholder="Search" />{{ children }}
<button name="submit_search" class="btn btn-default button-search" type="submit">
    <span>Search</span>
</button>